

.cartas-container{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    
    
}

.carta{
    position: relative;
    width: 24.5%;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    border: solid 2px rgba(92, 92, 92, 0.566);
    margin: auto;
    
}

.carta-texto-contenido{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.80);
    /* display: none; */
    margin: auto;
    text-align: center;
    padding-top: 10%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s;
}

.carta:hover .carta-texto-contenido{
    opacity: 1;
}

.carta-texto{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    word-break: break-word;
    padding-left: 20px;
    padding-right: 20px;
    
}
.carta img{
    padding-top: 15px;
    height: 300px;
    max-width: 90%;
    
}
.carta-precio{
    position: absolute;
    top: 5px;
    left: 5px; 
    background-color: rgb(52, 52, 247);
    padding: 10px 25px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    color: aliceblue;
    z-index: 999;
    
}
.carta-titulo{
    padding: 15px;
    text-decoration: underline black 2px;
}

@media only screen and (max-width: 1200px) {
    .carta{
        width: 49%;
    }
    .carta img{
        
        height: 200px;
        
    }
}

@media only screen and (max-width: 800px) {
    .carta{
        width: 100%;
    }
}